.tabcontent(name="info")
  section
    h2 バージョン情報
    div
      .version
        .version_text
        button.version_copy(type="button") コピー

  section
    h2 関連リンク
    div
      ul.links
        li: a(href="https://readcrx-2.github.io/read.crx-2/" target="_blank") 非公式サイト
        li: a(href="https://readcrx-2.github.io/read.crx-2/changelog.html" target="_blank") 更新履歴
        li: a.open_in_rcrx(href="https://jbbs.shitaraba.net/computer/44468/" target="_blank") 非公式サポートBBS
        li: a.keyboard_help(href="/view/empty.html" target="_blank") キーボードショートカットのヘルプ
