.dialog_overlay {
  position: fixed;
  contain: strict;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column;
  z-index: var(--z-index-dialog);
}

.dialog_spacer {
  flex-grow: 1;
}

.dialog_body {
  @include drop-shadow;
  padding: 5px;
  background-color: #eeeeee;
  color: #111111;
  width: 300px;
  margin: 0 auto;
  border-radius: 2px;
}

.dialog_message {
  padding: 5px;
}

.dialog_bottom {
  text-align: right;
}

.dialog_ok, .dialog_no {
  @include button;
}
