@import "../_common.scss";
@import "_write.scss";

@include common;

.outtitle {
  display: inline-flex;
  flex: 2 0;
  align-items: center;
  white-space: nowrap;
  .title {
    flex: 1 0;
    min-width: 15em;
  }
}
.outsage {
  margin-right: 10px;
}
.outname,
.outmail {
  flex: 1 0 40%;
}
