extends ../_base.pug

block vars
  - var name = "submit_thread";
  - var title = "";
  - var html = {};
  - var htmlClasses = [""];
  - var body = {class: "view_write"};
  - var needFavicon = true;
  - var needUI = false;
  - var needModule = false;
  - var needCss = true;

block body
  form
    header
      h1
      button.preview_button(tabindex="1") AA表示確認
    #main
      input(type="submit" value="書き込む" tabindex="6")
      label.outname
        |名前:
        input.name(size="1" tabindex="2")
      label.outmail
        |E-mail:
        input.mail(size="1" tabindex="3")
      label.outsage
        input.sage(type="checkbox")
        |sage
      label.outtitle
        |タイトル:
        input.title(size="1" tabindex="4")
    textarea.message(wrap="off" tabindex="5" autofocus required)
    .notice
  .iframe_container.hidden
    .hide_iframe
