@import "../_common.scss";

@include common;
@include tab-content;
@include content-table;

@media (max-width: 650px) and (min-width: 501px) {
  col, th {
    &:not(.table_sort_asc):not(.table_sort_desc).created_date {
      width: 0;
    }
  }
}

@media (max-width: 500px) {
  col, th {
    &:not(.table_sort_asc):not(.table_sort_desc):not(.bookmark):not(.title) {
      width: 0;
    }
  }
}

td {
  &:nth-child(3), &:nth-child(4), &:nth-child(5) {
    text-align: right;
  }
}

.theme_dark {
  td:nth-child(1) {
    color: #f93;
  }
}

.content {
  contain: strict;
}

tr.ng_thread {
  display: none;
}

.board_footer {
  position: absolute;
  contain: content;
  bottom: 0;
  left: 0;
  right: 75px;
  display: flex;
  > .loading_indicator {
    margin: 10px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 5px;
    font-size: 12px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
  }
}

.view.loading {
  .content {
    display: block !important;
    ~ .loading_overlay {
      display: none !important;
    }
    ~ .board_footer .loading_indicator {
      display: block;
    }
    &:empty {
      ~ .loading_overlay {
        display: block !important;
      }
      ~ .board_footer .loading_indicator {
        display: none;
      }
    }
  }
}
