@import "../common.scss";

@include common;
@include tab-content;
@include content-table;

@media (max-width: 650px) and (min-width: 501px) {
  th:not(.table_sort_asc):not(.table_sort_desc) {
    &.created_date {
      width: 0;
    }
  }
}

@media (max-width: 500px) {
  th:not(.table_sort_asc):not(.table_sort_desc) {
    &:not(.title):not(.unread) {
      width: 0;
    }
  }
}

tbody:empty {
  display: block;
  &::after {
    content: "ブックマークされているスレッドが有りません";
  }
}

tr.https td:first-child::before {
  content: img(lock_12x12_3a5);
  vertical-align: middle;
}

tr.expired td:first-child::before {
  content: "[dat落ち] ";
  color: var(--color-error);
}

tr.errored:not(.expired) td:first-child::before {
  content: "[更新失敗] ";
  color: var(--color-error);
}

td {
  &:nth-child(3), &:nth-child(4), &:nth-child(5) {
    text-align: right;
  }
}

.view.loading {
  table::after {
    content: "更新チェック中";
  }

  > body > .content {
    display: block;

    > table > tbody > tr:not(.updated) {
      display: none;
    }
  }
}

.loading_overlay {
  position: fixed;
  contain: content;
  top: initial;
  bottom: 0;
  height: initial;
  background: transparent;
  > .pending {
    color: var(--color-pending);
    &::before {
      content: "待機中: ";
    }
  }
  > .success {
    color: var(--color-success);
    &::before {
      content: "更新成功: ";
    }
  }
  > .error {
    color: var(--color-error);
    &::before {
      content: "更新失敗: ";
    }
  }
}
