extends ../_base.pug

block vars
  - var name = "bookmark";
  - var title = "ブックマーク";
  - var html = {tabindex: "-1", "data-url": "bookmark"};
  - var htmlClasses = ["view", "view_bookmark"];
  - var body = {};
  - var needUI = true;
  - var needModule = true;
  - var needCss = true;

block body
  nav.nav_bar
    label
      input.searchbox(type="search" placeholder="検索")
      span.hit_count
    .button.button_back.disabled(title="戻る")
    .button.button_forward.disabled(title="進む")
    .button.button_reload(title="再読み込み")
    .button.button_pause(title="自動更新一時停止")
    .button.button_tool(title="メニュー")
      ul.hidden
        li.button_link
          a(target="_blank") ブックマークマネージャを開く
        li.button_toggle_dat dat落ちのスレッドを表示する/しない
        li.button_open_updated 未読があるスレッドを全て開く
    select.sort_item_selector
      option(data-sort-index="0") タイトル
      option(data-sort-index="1") 板名
      option(data-sort-index="2") レス数
      option(data-sort-index="3" selected) 未読数
      option(data-sort-index="4") 勢い
      option(data-sort-index="5") 作成日時
  .content(tabindex="0")
  .loading_overlay
    span.success
    span.error
    span.loading
    span.pending

block temp
  template#template_thread_list_contextmenu
    menu.thread_list_contextmenu
      li.add_bookmark ブックマークに追加
      li.del_bookmark ブックマークを解除
