extends ../_base.pug

block vars
  - var name = "bookmark_source_selector";
  - var title = "ブックマークフォルダの設定";
  - var html = {};
  - var htmlClasses = ["view", "view_bookmark_source_selector"];
  - var body = {};
  - var needUI = false;
  - var needModule = true;
  - var needCss = true;

block body
  p read.crxのブックマークの保存先として使用するフォルダを指定して下さい
  .node_list
    ul
  button.submit(disabled) 決定
  p read.crx内で掲示板をブックマークに登録すると、ここで指定したフォルダ内にブックマークが保存されます
  p ブックマーク同期を利用して既読数等を同期するため、ここで指定したフォルダ内のブックマークは編集される事が有ります
