extends ../_base.pug

block vars
  - var name = "config";
  - var title = "設定";
  - var html = {};
  - var htmlClasses = ["view", "view_config"];
  - var body = {};
  - var needUI = true;
  - var needModule = true;
  - var needCss = true;

block body
  header
    button.button_close 閉じる

  #main
    ul.tabbar
      li.selected(data-name="general"): span 一般
      li(data-name="reload"): span 更新関連
      li(data-name="thumbnail"): span サムネイル
      li(data-name="popup"): span ポップアップ
      li(data-name="ng"): span NG
      li(data-name="other"): span その他
      li(data-name="data"): span データ
      li(data-name="info"): span 情報
    .container
      include config/_general.pug
      include config/_reload.pug
      include config/_thumbnail.pug
      include config/_popup.pug
      include config/_ng.pug
      include config/_other.pug
      include config/_data.pug
      include config/_info.pug
