@import "../common.scss";

@include common;
@include tab-content;

html {
  background-color: #fff;
}

body {
  font-size: 13px;
  position: relative;
}

header {
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  box-shadow: 0 2px 8px #333;
  background-image: linear-gradient(#666, #222);
  button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #bbb;
    border-radius: 2px;
    margin-left: 5px;
    padding: 5px;
    cursor: pointer;
    &:hover {
      border-color: #aaa;
    }
  }
}

#main {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: auto;
}

section {
  padding: 1em;

  display: flex;
  > div {
    flex-grow: 1;
  }
  &:not(:first-child) {
    border-top: 1px dashed hsl(0, 0%, 80%);
  }

  ul {
    margin: 0;
  }
}

section > h2 {
  font-size: 1.125em;
  font-weight: normal;
  margin: 0 1em 0 0;
  text-align: right;
  width: 10em;
}

label {
  cursor: pointer;
}

input[type="text"], input[type="number"], textarea {
  @include input-text;
}

section button {
  @include button;
}

.version {
  font-size: 0.9em;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 3px;
  border: 1px solid #aaaaaa;

  display: flex;
}

.version_text {
  flex-grow: 1;
}

.version_copy {
  display: block;
}

.links {
  padding: 0;
  > li {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}

#bbsmenu_reload_status {
  &.done {
    color: var(--color-success);
  }
  &.fail {
    color: var(--color-error);
  }
}

input[type="text"]:invalid {
  background-color: #fcc;
}

.label_textarea, .label_textarea > a {
  vertical-align: top;
}

.image_blur_word {
  width: 350px;
}

.bbsmenu {
  width: 450px;
}

.useragent {
  width: 560px;
}
