@import "../common.scss";

@include common;
@include tab-content;

html {
  background-color: #fff;
}

body {
  font-size: 13px;
  position: relative;
}

header {
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  box-shadow: 0 2px 8px #333;
  background-image: linear-gradient(#666, #222);
  button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #bbb;
    border-radius: 2px;
    margin-left: 5px;
    padding: 5px;
    cursor: pointer;
    &:hover {
      border-color: #aaa;
    }
  }
}

#main {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: auto;
}

.tabbar {
  display: flex;
  flex-flow: wrap;
  margin: 0;
  padding: 8px 0 0 8px;
  list-style-type: none;
  font-size: 14px;
  line-height: 1.3;
  min-height: 25px;
  background: #666;
  > li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    margin-right: 3px;
    padding: 3px 7px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    min-width: 1em;
    min-height: 1em;
    background: #CCC;
    &.selected {
      background: #FFF;
    }
  }
}

.tabcontent:not(.selected) {
  display: none;
}

section {
  padding: 1em;

  display: flex;
  > h2 {
    font-size: 1.125em;
    font-weight: normal;
    margin: 0 1em 0 0;
    text-align: right;
    width: 10em;
    flex-shrink: 0;
  }

  > div {
    flex-grow: 1;
  }
  &:not(:first-child) {
    border-top: 1px dashed hsl(0, 0%, 80%);
  }

  ul {
    margin: 0;
  }
}

label {
  cursor: pointer;
}

input[type="text"], input[type="number"], textarea {
  @include input-text;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #ccc;
  height: 4px;
  border-radius: 2px;
  margin: 8px 2px;
  vertical-align: middle;

  &:focus, &:active {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    width: 12px;
    height: 12px;
    display: block;
    border: 3px solid #aaa;
    background-color: #444;
    border-radius: 50%;
  }
}

section button {
  @include button;
  margin-bottom: 3px;

  & + button{
    margin-left: 3px;
  }
}

.version {
  font-size: 0.9em;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 3px;
  border: 1px solid #aaaaaa;

  display: flex;
}

.version_text {
  flex-grow: 1;
}

.version_copy {
  display: block;
}

.links {
  padding: 0;
  > li {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}

#bbsmenu_reload_status {
  &.done {
    color: var(--color-success);
  }
  &.fail {
    color: var(--color-error);
  }
}

input[type="text"]:invalid {
  background-color: #fcc;
}

.label_textarea, .label_textarea > a {
  vertical-align: top;
}

.ng_expire_input_container {
  &[data-value="none"] {
    .ng_expire_input_date, .ng_expire_input_day {
      display: none;
    }
  }
  &[data-value="date"] .ng_expire_input_day {
    display: none;
  }
  &[data-value="day"] .ng_expire_input_date {
    display: none;
  }
}

.seconds {
  width: 100px;
}

.days {
  width: 40px;
}

.date_range {
  width: 40px;
}

.image_blur_word {
  width: 500px;
}

.bbsmenu, .useragent {
  width: 560px;
}
