@import "../common.scss";

@include common;
@include tab-content;
@include content-table;

@media (max-width: 500px) {
  th.viewed_date {
    width: 0;
  }
}

.content {
  tbody:empty {
    display: block;
    &::after {
      content: "閲覧履歴は空です";
    }
  }
  tr.https td:first-child::before {
    content: img(lock_12x12_3a5);
    vertical-align: middle;
  }
}
