@import "../_common.scss";

@include common;

html, body, #body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  user-select: none;
}

a {
  cursor: pointer;
}

iframe {
  border: none;
}

#body {
  contain: strict;
  position: relative;
}

.view.theme_default #body {
  background-color: #555;
}

.view.theme_dark #body {
  background-color: #222;
}

#left_pane {
  position: absolute;
  width: 135px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

#right_pane {
  box-sizing: border-box;
  position: absolute;
  left: 135px;
  right: 0;
  top: 0;
  bottom: 0;
  > .tab {
    padding: 3px;
    box-sizing: border-box;
  }
}

#body.pane-3 {
  #tab_resizer {
    cursor: row-resize;
    height: 5px;
  }
  #right_pane {
    display: flex;
    flex-flow: column;
    #tab_a {
      width: 100%;
      height: 50%;
      margin-bottom: 0;
    }
    #tab_b {
      width: 100%;
      flex-grow: 1;
      margin-top: 0;
    }
  }
}

#body.pane-3h {
  #tab_resizer {
    cursor: col-resize;
    width: 5px;
  }
  #right_pane {
    display: flex;
    #tab_a {
      width: 50%;
      height: 100%;
      margin-right: 0;
    }
    #tab_b {
      height: 100%;
      flex: 1;
      margin-left: 0;
    }
  }
}

#body.pane-2 {
  #right_pane {
    display: flex;
    flex-flow: column;
    #tab_a {
      width: 100%;
      height: 100%;
      flex-grow: 1;
    }
    #tab_b, #tab_resizer {
      display: none;
    }
  }
}

#modal {
  > iframe {
    contain: strict;
    z-index: var(--z-index-modal);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

#app_notice_container {
  position: fixed;
  contain: content;
  left: 50px;
  top: 10px;
  right: 50px;
  z-index: var(--z-index-notification);
  > div {
    @include drop-shadow;
    contain: content;
    background-image: linear-gradient(transparent, rgba(black, 0.25));
    border-radius: 5px;
    color: #eeeeee;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    > div {
      padding: 10px;
    }
    > div:first-child {
      flex-grow: 1;
      margin-right: 5px;
      > a {
        color: inherit;
      }
    }
    > div + div {
      cursor: pointer;
      width: 16px;
      height: 16px;
      background: transparent img(close_16x16) no-repeat center;
      &:hover {
        background-color: rgba(#000, 0.2);
      }
      &:active {
        background-color: rgba(#000, 0.4);
      }
    }
  }
}

.keyboard_help {
  contain: strict;
  z-index: var(--z-index-modalhelp);
  background: hsla(0, 0%, 0%, 0.9);
  color: hsl(0, 0%, 80%);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 1rem;

  > header {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  h2 {
    font-size: 1rem;
    margin: 0;
  }

  dt {
    width: 8rem;
    height: 0;
    text-align: right;
    margin-top: 0.5rem;
  }

  dd {
    margin-left: 9rem;
  }

  kbd {
    font: inherit;
  }
}
