extends ../_base.pug

block vars
  - var name = "inputurl";
  - var title = "URLを指定して開く";
  - var html = {};
  - var htmlClasses = ["view", "view_inputurl"];
  - var body = {};
  - var needUI = true;
  - var needModule = true;
  - var needCss = true;

block body
  nav.nav_bar
    .button.button_back.disabled(title="戻る")
    .button.button_forward.disabled(title="進む")
  .container
    form
      input(name="url" placeholder="ここにURLを入力して下さい" autofocus)
      input(type="submit" value="開く")
    .notice.hidden
