@import "../_common.scss";

@include common;
@include tab-content;
@include content-table;

@media (max-width: 750px) and (min-width: 601px) {
  col, th {
    &.created_date {
      width: 0;
    }
  }
}

@media (max-width: 600px) {
  col, th {
    &:not(.bookmark):not(.title) {
      width: 0;
    }
  }
}

.body_empty {
  display: block;
  &::after {
    content: "表示可能項目無し";
  }
}

td {
  &:nth-child(4), &:nth-child(5) {
    text-align: right;
  }
}

tr.https td:nth-child(2)::before {
    content: img(lock_12x12_3a5);
    vertical-align: middle;
}

.theme_default {
  .more:hover {
    background: #e8e8e8;
  }
}

.theme_dark {
  td:nth-child(1) {
    color: #f93;
  }
  .more:hover {
    background: #222;
  }
}

.more {
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.table_search + .more {
  display: none;
}

.view.loading .content {
  display: block !important;
}
