extends ../_base.pug

block vars
  - var name = "sidemenu";
  - var title = "sidemenu";
  - var html = {};
  - var htmlClasses = ["view", "view_sidemenu"];
  - var body = {class: "content", tabindex: "0"};
  - var needUI = true;
  - var needModule = true;
  - var needCss = true;

block body
  form.search
    input(type="search" name="q" placeholder="スレッド検索")
    input(type="submit" value="")
  h3 read.crx
  ul
    li: a.open_in_rcrx(data-href="bookmark" title="ブックマーク") ブックマーク
    li: a.open_in_rcrx(data-href="history" title="閲覧履歴") 閲覧履歴
    li: a.open_in_rcrx(data-href="writehistory" title="書込履歴") 書込履歴
    li: a.open_in_rcrx(data-href="inputurl" title="URL指定で開く") URL指定で開く
    li: a.open_in_rcrx(data-href="config" title="設定") 設定
  .loading_message Loading
