extends _base.pug

block vars
  - var name = "zombie";
  - var title = "read.crx 2";
  - var html = {};
  - var htmlClasses = [""];
  - var body = {};
  - var needUI = false;
  - var needModule = false;
  - var needCss = false;

block body
  |read.crx 2 を終了しています
