doctype
html(data-app-version=version)
  head
    meta(charset="utf-8")
    meta(name="referrer" content="no-referrer")
    title read.crx 2
    script(src=`/lib/shortQuery.min.js?v=${version}` defer)
    script(src=`/app.js?v=${version}` defer)
    script(src=`/zombie.js?v=${version}` defer)
  body
    |read.crx 2 を終了しています
