!!! 5
%html(data-app-version="#{MANIFEST["version"]}")
  %head
    %meta(charset="utf-8")
    %meta(name="referrer" content="never")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title read.crx 2
    %script(src="/lib/jshortquery.min.js?v=#{MANIFEST["version"]}" defer=true)
    %script(src="/app.js?v=#{MANIFEST["version"]}" defer=true)
    %script(src="/zombie.js?v=#{MANIFEST["version"]}" defer=true)
  %body
    read.crx 2 を終了しています
